
<app-scores [highScore]="highScore"></app-scores>
<div class="grid" >
    <button *ngIf="!isStart" (click)="startGame()">Start</button>

    <ng-container *ngIf="isStart">
        <div  class="container" *ngFor="let item of moleList ">
            <div class="mole" [class.showing] = "item.showing == true" (click)="whack(item)">
             
            </div>
        </div>
    </ng-container>
    

</div>
<h3>
Time left: {{currentTime}}
<button *ngIf="!isStart" (click)="reSetHighScore()">Reset High Score</button>


</h3>

