
<app-scores [highScore]="highScore"></app-scores>
<div class="grid" >
    <div style="justify-content:center ;">
        
        <button class="button" *ngIf="!isStart" (click)="startGame()">Start</button>
    </div>

    <ng-container *ngIf="isStart">
        <ng-container *ngFor="let item of moleList ">
            <div class="mole" [class.showing] = "item.showing == true" (click)="whack(item)">
             
            </div>
        </ng-container>
        
        <!-- <div  class="container" >
            
        </div> -->
    </ng-container>
    

</div>
<h3>
Time left: {{currentTime}}
<button class="button" *ngIf="!isStart" (click)="reSetHighScore()">Reset High Score</button>


</h3>

